nav {
  position: absolute;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
nav ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
nav a {
  color: #eee;
  background-color: #666;
  text-decoration: none;
  width: 160px;
  padding: 7px 20px;
  display: block;
  text-align: center;
  cursor: pointer;
}
nav a:hover {
  color: #fff;
  background-color: #888;
}
nav a:hover {
  color: #fff;
  background-color: #888;
  -moz-animation-name: iluminar;
  -moz-animation-duration: 0.4s;
  -moz-animation-timing-function: linear;
  -webkit-animation-name: iluminar;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-timing-function: linear;
  animation-name: iluminar;
  animation-duration: 0.4s;
  animation-timing-function: linear;
}
nav > ul {
  width: 100%;
  height: 32px;
  color: #eee;
  background-color: #666;
}
nav li.categoria {
  float: left;
}
nav ul.submenu {
  transition-property: height;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  -moz-transition-property: height;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: height;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  position: absolute;
  height: 0px;
  overflow: hidden;
}
nav li.categoria > a {
  transition-property: padding;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
  -moz-transition-property: padding;
  -moz-transition-duration: 0.4s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: padding;
  -webkit-transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-out;
}
nav li.categoria:hover ul.submenu {
  height: 100px;
}
nav li.categoria:hover ul.submenu > a {
  padding: 10px 20px;
}

nav#navTabla {
  text-align: center;
  padding: 20px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  font-size: 150%;
  width: 30%;
  float: left;
  position: relative;
  left: 35%;
}
nav#navTabla ul {
  background-color: inherit;
}
nav#navTabla ul li {
  margin-left: 20px;
  margin-right: 20px;
  color: lightseagreen;
  display: inline-block;
  list-style-type: none;
  background-color: inherit;
}
nav#navTabla ul li:hover {
  cursor: pointer;
}

.formAltaUsuario {
  font-size: 150%;
  float: none;
  margin: auto;
  margin-top: 50px;
  margin-left: 40%;
  width: 30%;
}
.formAltaUsuario input {
  margin-bottom: 30px;
  height: 25px;
}

footer {
  color: #eee;
  background-color: #666;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding: 5px;
}

.cajaExamen-pregunta {
  font-size: 100%;
  width: 99.5%;
  height: 350px;
  border: solid 2px black;
  margin-top: 30px;
  overflow-y: scroll;
}
.cajaExamen-pregunta div {
  padding: 10px;
  border: 1px solid black;
}
.cajaExamen-pregunta div.tematica {
  background-color: #5F9EA0;
}

.cajaLogin {
  font-size: 200%;
  height: 600px;
  width: 50%;
  float: none;
  margin: auto;
  margin-top: -50px;
  overflow: visible;
  padding-top: 100px;
  border-radius: 30px;
}
.cajaLogin aside {
  text-align: center;
}
.cajaLogin aside span a {
  font-size: 50%;
}
.cajaLogin .formLogin + p {
  margin-top: 200px;
  text-align: center;
  font-size: 50%;
}
.cajaLogin .formLogin {
  clear: both;
  width: 60%;
  float: none;
  margin: auto;
  margin-top: 50px;
}
.cajaLogin .formLogin input {
  height: 30px;
  width: 47%;
  font-size: 50%;
}
.cajaLogin .formLogin .boton {
  position: relative;
  margin-left: 30%;
  margin-right: 30%;
  background-color: #5F9EA0;
  color: white;
  border-radius: 20px;
  font-size: 70%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.cajaLogin .formLogin .boton:hover {
  cursor: pointer;
}
.cajaLogin .formLogin .recuerdame:hover {
  cursor: pointer;
}
.cajaLogin img.fotoAutoescuela {
  margin: auto;
  display: block;
  width: 250px;
}
.cajaLogin label.recuerdame {
  font-size: 80%;
}

.botones {
  background-color: #5F9EA0;
  color: white;
  border-radius: 20px;
  font-size: 70%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.botones:hover {
  cursor: pointer;
}

table {
  float: none;
  margin: auto;
  margin-top: 60px;
  position: relative;
  width: 60%;
  border-collapse: collapse;
}
table thead {
  background-color: lightgray;
}
table td, table th {
  border: 1px solid black;
  padding: 10px;
}
table tbody tr td a {
  float: left;
  width: 35px;
  height: 35px;
  background-image: url("../archivos/imagenesWeb/editar.png");
  border: none;
  cursor: pointer;
}
table tbody tr td a + a {
  float: right;
  width: 35px;
  height: 35px;
  background-image: url("../archivos/imagenesWeb/eliminar.png");
  border: none;
  cursor: pointer;
}

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

.errorInput {
  float: right;
  font-size: 40%;
}

div.seleccionado {
  background-color: #8ac1fc;
}

section {
  float: left;
  padding: 0;
  height: 400px;
  width: 30%;
  margin-left: 10%;
  margin-top: 20px;
}
section input {
  float: right;
}
section + section {
  margin-right: 10%;
  float: right;
}
section + section input {
  float: left;
}

section + #form1 {
  clear: both;
  margin-right: 10%;
  margin-top: 50px;
  float: right;
}
section + #form1 input {
  background-color: #5F9EA0;
  color: white;
  border-radius: 20px;
  font-size: 120%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

nav + h3 {
  font-size: 200%;
  margin-top: 50px;
  margin-left: 50px;
}
nav + h3 + input {
  margin-left: 20%;
  float: left;
  width: 20%;
}
nav + h3 + input + input {
  margin-right: 40%;
  float: right;
}
nav + h3 + input + input + br + input {
  margin-left: 34.5%;
  float: left;
  margin-top: 50px;
}
nav + h3 + input + input + br + input + input {
  margin-top: 50px;
  margin-right: 20%;
  float: right;
}

@-webkit-keyframes iluminar {
  from {
    background-color: #666;
    color: #eee;
  }
  to {
    background-color: #888;
    color: #fff;
  }
}

@keyframes iluminar {
  from {
    background-color: #666;
    color: #eee;
  }
  to {
    background-color: #888;
    color: #fff;
  }
}
img.fotoAutoescuela {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

img.fotoUsuario {
  float: right;
  margin-top: 15px;
  margin-right: 20px;
  margin-bottom: 10px;
}
img.fotoUsuario + aside {
  width: 10%;
  height: 80px;
  background-color: lightgray;
  border-radius: 5px;
  position: relative;
  clear: both;
  z-index: 10;
  float: right;
  margin-right: 1.5%;
  text-align: center;
  padding-top: 30px;
}
img.fotoUsuario + aside a {
  text-decoration: none;
  color: white;
  text-shadow: black 2px 2px 2px;
}
img.fotoUsuario:hover {
  cursor: pointer;
}

.ocultar {
  display: none;
}

p.errorCambioPassword {
  font-size: 200%;
  float: none;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  border: solid 3px black;
  width: 70%;
}

p.errorCambioPassword + section {
  font-size: 200%;
  float: none;
  margin: auto;
  margin-top: 100px;
  text-align: center;
  width: 70%;
}

img.caution {
  width: 200px;
  height: 200px;
  display: block;
  margin: auto;
}

form.formAltaPreg {
  font-size: 150%;
  width: 40%;
  text-align: left;
  float: none;
  margin: auto;
}
form.formAltaPreg #tematica, form.formAltaPreg #enunciado {
  width: 50%;
  margin-bottom: 30px;
}
form.formAltaPreg input {
  margin: 10px;
}
form.formAltaPreg section label {
  font-size: 80%;
}
form.formAltaPreg input#guardar {
  float: right;
}
form.formAltaPreg input#guardar {
  background-color: #5F9EA0;
  color: white;
  border-radius: 20px;
  font-size: 70%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
form.formAltaPreg input#guardar:hover {
  cursor: pointer;
}

.imagenAlta {
  float: right;
  width: 150px;
  height: 150px;
  background-image: url("../archivos/imagenesWeb/add-image.png");
  background-repeat: no-repeat;
  background-size: 150px;
}
.imagenAlta:hover {
  cursor: pointer;
}
.imagenAlta input[type=submit] {
  margin-top: 200px;
}

input[type=file] {
  display: none;
}/*# sourceMappingURL=main.css.map */