@import "utilities/_mixins.scss";
@import "utilities/_variables.scss";
@import "layout/_nav.scss";
@import "layout/_formularios.scss";
@import "layout/_footer.scss";
@import "layout/_caja.scss";
@import "components/_botones.scss";
@import "layout/_tabla.scss";
@import "base/_reset.scss";
@import "base/_tipografias.scss";
@import "layout/_section.scss";
@import "components/_img.scss";
@import "layout/_parrafo.scss";

 body, button, input{
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 600;
}
input:invalid { //para los campos del formulario inválidos
    background-color: rgb(255, 148, 148);
  }
.errorInput{
    float: right;
    font-size: $size-texto-errorInput;
}
@keyframes iluminar {//de un color a otro
    from {
        background-color: $color-fondo-nav;
        color: $color-texto-nav;
    }
    to {
        background-color: $color-fondo-nav-hover;
        color: $color-texto-nav-hover;
    }
}
.ocultar{//esta clase sirve para ocultar cualquier elemento
    display: none;
}
input[type="file"] {
    display: none;
}