@import "utilities/_mixins.scss";
body{
    font-family: sans-serif;
}

.errorInput{
    float: none;
    margin-left: 45%;
    font-size: 40%;
    color: red;
}

.cajaLogin{
    font-size: 200%;
    border: solid 2px black;
    height: 300px;
    width: 50%;
    float: none;
    margin: auto;
    margin-top: 100px;
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 100px;
    border-radius: 30px;

    .formLogin{
        width: 500px;
        float: none;
        margin: auto;
    
        input{
            height: 30px;
            width: 47%;
            font-size: 50%;
        }
    
        .boton{
            position: relative;
            margin-left: 30%;
            margin-right: 30%;
            background-color: cadetblue;
            color: white;
            border-radius: 20px;
            font-size: 70%;
            height: max-content;
        
            &:hover{
                cursor: pointer;
            }
        }
    
        .recuerdame:hover{
            cursor: pointer;
        }
    }
}

.cajaExamen-pregunta{
    font-size: 200%;
    width: 25%;
    height: 350px;
    border: solid 2px black;
    margin-top: 10px;
    overflow: scroll;
}

#preguntasDisponibles{
    float: left;
    margin-right: 50px;
    margin-left: 20%;
}

#preguntasSeleccionadas{
    float: right;
    margin-right: 20%;
}

nav + h3{
    font-size: 200%;
    margin-top: 0px;

    +input{
        margin-left: 20%;
        float: left;
        width: 20%;
        +input{
            margin-right: 40%;
            float: right;
            +br{
                +input{
                    margin-left: 34.5%;
                    float: left;
                    margin-top: 50px;
                    +input{
                        margin-top: 50px;
                        margin-right: 20%;
                        float: right;
                    }
                }
            }
            
        }
    }
}

.formAltaUsuario{
    font-size: 150%;
    float: none;
    margin: auto;
    margin-top: 50px;
    margin-left: 40%;
    width: 30%;

    input{
        margin-bottom: 30px;
        height: 25px;
    }
}

@keyframes iluminar {
    from {
        background-color: #666;
        color: #eee;
    }
    to {
        background-color: #888;
        color: #fff;
    }
}

nav {
    
    position: absolute;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;

    ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        display: flex;
    }
    
    a {
        @include estableceColor;
        @include estableceColorHover;

        text-decoration: none;
        width: 160px;
        padding: 7px 20px;
        display: block;
        text-align: center;
        cursor: pointer;

        &:hover{
            color: #fff;
            background-color: #888;
            
            @include animaciones(iluminar, 0.4s);
        }
    }
}

header {
    padding: 12px 30px;
    font-size: 1.8em;
    color: #444;
    background-color: $color-texto;
    font-weight: bold;
    text-shadow: 1px 1px 2px #aaa;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav>ul {
    width: 100%;
    height: 32px;
    @include estableceColor;
}

li.categoria {
    float: left;
}

ul.submenu {
    @include transiciones(height, 0.5s, ease-out);
    position: absolute;
    height: 0px;
    overflow: hidden;
}

li.categoria>a {
    @include transiciones(padding, 0.4s, ease-out);
}

li.categoria:hover ul.submenu {
    height: 100px;
    >a {
        padding: 10px 20px;
    }
}

footer {
    @include estableceColor;
    @include boxSizing(border-box);
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 5px;
}