nav {//nav que se repite en todas las paginas
    font-family: 'Fjalla One', sans-serif;
    position: absolute;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;

    ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
    }
    
    a {
        @include estableceColor;
        @include estableceColorHover;

        text-decoration: none;
        width: 160px;
        padding: 7px 20px;
        display: block;
        text-align: center;
        cursor: pointer;

        &:hover{
            color: #fff;
            background-color: #888;
            
            @include animaciones(iluminar, 0.4s);
        }
    }

    >ul {
        width: 100%;
        height: 32px;
        @include estableceColor;
    }
    
    li.categoria {
        float: left;
    }
    
    ul.submenu {
        @include transiciones(height, 0.5s, ease-out);
        position: absolute;
        height: 0px;
        overflow: hidden;
    }
    
    li.categoria>a {
        @include transiciones(padding, 0.4s, ease-out);
    }
    
    li.categoria:hover ul.submenu {
        height: 100px;
        >a {
            padding: 10px 20px;
        }
    }
}

nav#navTabla{//este es el nav que hay debajo de los listados para navegar entre las paginadas
    text-align: center;
    padding: 20px;
    height: min-content;
    font-size: 150%;
    width: 30%;
    float: left;
    position: relative;
    left: 35%;
    ul{
        background-color: inherit;
        li{
            margin-left: 20px;
            margin-right: 20px;
            color: lightseagreen;
            display: inline-block;
            list-style-type: none;
            background-color: inherit;
            &:hover{
                cursor: pointer;
            }
        }
    }
}
nav + h3{
    font-size: 200%;
    margin-top: 50px;
    margin-left: 50px;

    +input{
        margin-left: 20%;
        float: left;
        width: 20%;
        +input{
            margin-right: 40%;
            float: right;
            +br{
                +input{
                    margin-left: 34.5%;
                    float: left;
                    margin-top: 50px;
                    +input{
                        margin-top: 50px;
                        margin-right: 20%;
                        float: right;
                    }
                }
            }
            
        }
    }
}