table 
{
  float: none;
  margin: auto;
  margin-top: 60px;
  position: relative;
  width: 60%;
  border-collapse: collapse;
  thead{
    background-color: lightgray;
  }
  td, th 
  {
    border: 1px solid black;
  }
  tbody{
    tr{
      td{
        a{
          float: left;
          color: black;
          text-decoration: underline;
          +a{
            float: right;
          }
        }
      }
    }
  }
}