table //tabla para los listados
{
  float: none;
  margin: auto;
  margin-top: 60px;
  position: relative;
  width: $anchoTabla;
  border-collapse: collapse;
  thead{
    background-color: lightgray;
  }
  td, th 
  {
    border: 1px solid black;
    padding: 10px;
  }
  tbody{
    tr{
      td{
        a{//opcion de editar
          float: left;
          width: 35px;
          height: 35px;
          background-image:url("../archivos/imagenesWeb/editar.png");
          border: none;
          cursor: pointer;
          +a{//opciond de borrar
            float: left;
            width: 35px;
            height: 35px;
            background-image:url("../archivos/imagenesWeb/eliminar.png");
            border: none;
            cursor: pointer;

            +a{//opcion de desactivar
              float: right;
              width: 35px;
              height: 35px;
              background-image:url("../archivos/imagenesWeb/desactivar.png");
              background-repeat: no-repeat;
              border: none;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}