@mixin estableceColor
{
    color: $color-texto-nav;
    background-color: $color-fondo-nav;
}

@mixin estableceColorHover
{
    &:hover{
        color: $color-texto-nav-hover;
        background-color: $color-fondo-nav-hover;
    }
}

@mixin boxSizing($tam)
{
    box-sizing: $tam;
    -webkit-box-sizing: $tam;
    -moz-box-sizing: $tam;
}

@mixin transiciones($pro, $dur, $tim: linear)
{
    transition-property: $pro;
    transition-duration: $dur;
    transition-timing-function: $tim;

    -moz-transition-property: $pro;
    -moz-transition-duration: $dur;
    -moz-transition-timing-function: $tim;

    -webkit-transition-property: $pro;
    -webkit-transition-duration: $dur;
    -webkit-transition-timing-function: $tim;
}

@mixin animaciones($name, $dur, $tim: linear)
{
    -moz-animation-name: $name;
    -moz-animation-duration: $dur;
    -moz-animation-timing-function: $tim;

    -webkit-animation-name: $name;
    -webkit-animation-duration: $dur;
    -webkit-animation-timing-function: $tim;

    animation-name: $name;
    animation-duration: $dur;
    animation-timing-function: $tim;
}

@mixin estilosBoton()
{
    background-color: $colorBoton;
    color: white;
    border-radius: 20px;
    font-size: 70%;
    height: max-content;
    @include pointer();
}

@mixin pointer()
{
    &:hover{
        cursor: pointer;
    }
}

@mixin floatMargin($float: none, $margin: auto)
{
    float: $float;
    margin: $margin;
}

@mixin imagenFondo($url, $repeat: no-repeat, $size: 150px)
{
    background-image: url($url);
    background-repeat: $repeat;
    background-size: $size;
}