$color-texto-nav: #eee;
$color-texto-nav-hover: #fff;
$color-fondo-nav: #666;
$color-fondo-nav-hover: #888;
$colorBoton: #5F9EA0;
$color-texto-boton: white; 
$colorFondoTematica: #5F9EA0;
$colorDivSeleccionado: #8ac1fc;
$size-texto-errorInput: 40%;
$size-texto-cajaLogin: 200%;
$altoCajaLogin: 600px;
$anchoCajaLogin: 50%;
$borderRadius-cajaLogin: 30px;